# Categorical Encoding

**Categroical Encoding is used to convert the categorical features to numeric features so that algorithms can understand.**

There are three types of categorical encodig techniques. They are : 
1. Ordinal Encoding
2. OneHot Encoding
3. Label Encoding

In [89]:
# Importing libaries
import pandas as pd

In [90]:
import pandas as pd

data = {
    "Color": ["Red", "Blue", "Green", "Blue", "Red"],
    "Size": ["Small", "Medium", "Large", "Medium", "Small"],
    "Brand": ["Nike", "Adidas", "Puma", "Nike", "Puma"]
}

df = pd.DataFrame(data)

In [91]:
df    # taking this dataframe to demonstrate categorical encoding

   Color    Size   Brand
0    Red   Small    Nike
1   Blue  Medium  Adidas
2  Green   Large    Puma
3   Blue  Medium    Nike
4    Red   Small    Puma

## 1. Ordinal Encoding

* Ordinal Encoding is a technique used to convert the **Ordianl Categorical Data** features to numeric features.
  
* Ordinal data is a type of data which has natural order or priority. (ex :- sizes of shirts[L>M>S], Eduaction[PG>UG>12>10])

  
* According to the priority it assigns values from 0 to required.

  
* We use **from sklearn.preprocessing import OrdinalEncoder** to implement ordinal encoding.

In [92]:
from sklearn.preprocessing import OrdinalEncoder

In [93]:
sizes = ['Small','Medium','Large']
df_ordinal_encoded = OrdinalEncoder(categories = [sizes])

In [94]:
#df_ordinal = pd.concat([df['Color'],df_ordinal_encoded])
df['SizeOrdinal'] = df_ordinal_encoded.fit_transform(df[['Size']])

In [95]:
df_ordinal = df.loc[:,['Size','SizeOrdinal']]

In [96]:
df_ordinal

     Size  SizeOrdinal
0   Small          0.0
1  Medium          1.0
2   Large          2.0
3  Medium          1.0
4   Small          0.0

## 2. OneHot Encoding

* OneHot encoding is a technique to used to convert **Nominal categorical Data** features to numeric data.
* Nominal data is a type of categorical data which doesn't have any order and every single data is equally important (Ex:- Gender [Male,Female,Others])
* It gives different number of columns for the different value in the data by replacing '0' in False block and '1' in true blocks.
* Example:
  | Gender | Gender_Male | Gender_Female | Gender_Others|
  |--------|-------------|---------------|--------------|
  | Male  | 1 | 0 | 0 |
  | Female | 0 | 1 | 0 |
  | Others | 0 | 0 | 1 | 

* We use **from sklearn.preprocessing import OneHotEncoder** to implement onehot encoding.
* It has two parameters:
    * *drop* - used to drop one column to avoid **"multicollinearity"**. we can use 'drop = first or last' to represnt last or first column to remove.
    * *sparse_output* - if "True" it returns scipy sparse matrix(Memory efficient, fast for huge data) and "False" returns NumPy array(Easy to use in pandas/ML pipelines)

In [75]:
from sklearn.preprocessing import OneHotEncoder

In [76]:
one_hot_encoder = OneHotEncoder(sparse_output = False, drop = 'first')

In [77]:
encoded = one_hot_encoder.fit_transform(df[['Color']])

In [78]:
df_encoded = pd.DataFrame(encoded,
                          columns = one_hot_encoder.get_feature_names_out(['Color']),
                         )

In [79]:
df_onehot = pd.concat([df['Color'],df_encoded],axis=1)

In [80]:
df_onehot

   Color  Color_Green  Color_Red
0    Red          0.0        1.0
1   Blue          0.0        0.0
2  Green          1.0        0.0
3   Blue          0.0        0.0
4    Red          0.0        1.0

## Label Encoder

* Label Encoding is technique by which we can encode Targets or labels to numeric values.
  
* for example yes - 1 and No - 0 also, if labels are weather sunny - 0, rainy - 1, cloudy - 2, windy - 3.

* We use **from sklearn.preprocessing import LabelEncoder** to implement lable

In [81]:
from sklearn.preprocessing import LabelEncoder

In [82]:
label_encoder = LabelEncoder()

In [83]:
label_encoded = label_encoder.fit_transform(df['Brand'])

In [84]:
df['BrandLabeled'] = label_encoded

In [86]:
df_label = df.loc[:,['Brand','BrandLabeled']]

In [87]:
df_label

    Brand  BrandLabeled
0    Nike             1
1  Adidas             0
2    Puma             2
3    Nike             1
4    Puma             2